:root {
  --light-background: #FFF;
  --darck-background: #041F31;

  --darck-text: #BDEBEA;
  --light-text: #151717;

  --darck-primary: linear-gradient(90deg, rgba(0,245,160,1) 0%, rgba(0,217,245,1) 100%);
  --light-primary: #5222D0;
  
  --darck-btn-color: #252728;
  --light-btn-color: #BDEBEA;

  --light-blur: rgba(255, 255, 255, .4);
  --darck-blur: rgba(0, 0, 0, .4);

  --darck-banner: url(../../public/darck_banner.svg);
  --light-banner: url(../../public/light_banner.svg);
  
  --box-shadow:  0px 10px 20px rgba(0, 0, 0, 0.3);
  --background: var(--light-background);
  --text: var(--light-text);
  --primary: var(--light-primary);
  --btn-color: var(--light-btn-color);
  --blur: var(--light-blur)
  --banner: var(--light-banner)
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
*::-webkit-scrollbar {
  width: 10px;
  background: rgba(255, 255, 255, 0.2);
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  width: 100%;
  background: var(--primary);
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background);
  transition: background .3s linear;
  scroll-behavior: smooth;
  color: var(--text);
}
a {
  color: inherit
}
